
%section
    %h1 Sign Up
    -form_for @user do |f|
        %p
            = f.label :email
            %br
            = f.text_field :email
        %p
            = f.label :password
            %br
            = f.text_field :password
        %p.button
            = f.submit
    -
